<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.senierr.media">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>

    <queries>
        <!-- Android 11以上，申请软件包可见性。否则，无法链接到对应的媒体服务。 -->
        <package android:name="com.senierr.media.Browser"/>
    </queries>

    <application
        android:name=".SessionApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediaBrowser"
        tools:targetApi="33">
        <activity
            android:name=".domain.home.MainActivity"
            android:theme="@style/SplashScreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".domain.image.ImagePreviewActivity"
            android:theme="@style/Theme.Fullscreen.Black"/>

        <activity
            android:name=".domain.audio.AudioPlayerActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name="com.senierr.media.domain.video.VideoPlayerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Fullscreen.Black"
            tools:ignore="DiscouragedApi" />

        <receiver android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service android:name=".domain.audio.service.AudioMediaBrowserService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
    </application>
</manifest>